<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <queries>
        <!-- Package queries for torrent and download clients (Android 11-15+ Scoped Visibility) -->
        <package android:name="idm.internet.download.manager" />
        <package android:name="idm.internet.download.manager.plus" />
        <package android:name="idm.internet.download.manager.lite" />
        <package android:name="com.delphicoder.flud" />
        <package android:name="com.delphicoder.flud.paid" />
        <package android:name="org.proninyaroslav.libretorrent" />
        <package android:name="org.fdm.android" />
        <package android:name="com.utorrent.client" />
        <package android:name="com.utorrent.client.pro" />
        <package android:name="com.bittorrent.client" />
        <package android:name="com.bittorrent.client.pro" />
        <package android:name="com.biglybt.android.client" />
        <package android:name="com.tau.torrse" />
        <package android:name="hu.tagsoft.ttorrent.lite" />
        <package android:name="hu.tagsoft.ttorrent.pro" />
        <package android:name="com.gianlu.aria2app" />
        <package android:name="com.teeon.zed" />
        <package android:name="com.dv.adm" />
        <package android:name="com.dv.adm.pay" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="magnet" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/x-bittorrent" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".AniFlowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AniFlow"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.aniflow.download.service.DownloadForegroundService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
